body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  margin-top: 20px;
}

p {
  font-size: 1.5em;
}
